#mainTable {
    width: 90%;
    margin: 0 0 0 20px
}
td {
    width: 3%;
    height: 100%;
}
.gray {
    background-color: rgb(170, 170, 170);
    height:20px;
}

#chargement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 5;
    align-items: center;
}



.separation td {
    border-bottom: 20px solid white;
}

#navLinks {
    display: none;
    width: 90%;
    margin: 0 0 20px 20px
}

#navLinks a {
    background-color: rgba(15, 96, 255, 0);
    color: black;
    width: 30px;
    height: 30px;
    border: 1px solid #1596FF;
    text-align: center;
    vertical-align: text-bottom;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    margin-bottom: 5px;
    line-height: 30px;
    text-transform: capitalize;
}

#navLinks a:hover {
    background-color: rgba(21, 150, 255, 1);
    color: white;
}

@media(max-width: 1025px){
    html {
        font-size: 0.4em;
    }
    #mainTable {
        width: 40%;
        margin: 0 0 0 10px
    }

    #navLinks a {
        font-size: 2em;
    }

    #navLinks {
        flex-wrap: wrap;
    }
}